body {
  background-color: #eee;
}

.comment-section {
  background-color: white;
  margin: 2% auto;
  width: 96%;
  padding: 20px 0px;
}

.flex {
  display: flex;
}

.comment {
  margin-left: 30px;
}

.username {
  color: #369;
  font-weight: bold;
}

.username,
.points,
.createdAt {
  margin-right: 0.5em;
}

.upvote,
.downvote {
  color: gray;
}

.upvote.active {
  color: #ff8b60;
}

.downvote.active {
  color: #9493ff;
}
