.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.flex {
  display: flex;
}

.comment {
  margin-left: 50px;
}

.username {
  color: #369;
  font-weight: bold;
}

.username,
.points,
.createdAt {
  margin-right: 0.5em;
}

.upvote,
.downvote {
  color: gray;
}

.upvote.active {
  color: #ff8b60;
}

.downvote.active {
  color: #9493ff;
}
